PORT=3001
NODE_ENV=development

MONGO_URI=mongodb+srv://USUARIO:PASSWORD@CLUSTER.mongodb.net/rpglog?retryWrites=true&w=majority
JWT_SECRET=RPGLOG_SECRET_UTCH_2026

CORS_ORIGIN=http://localhost:5173,http://localhost:3000,http://localhost:4173